# Tuples as Data Structures

In [1]:
(10, 20, 30)

(10, 20, 30)

In [2]:
a = (10, 20, 30)
b = 10, 20, 30

In [3]:
type(a)

tuple

In [5]:
type(b)

tuple

In [6]:
def print_tuple(t):
    for e in t:
        print(e)

In [7]:
print_tuple((10, 20, 30))

10
20
30

In [8]:
a = 'a', 10, 200

In [9]:
a[0]

'a'

In [10]:
a[1]

10

In [11]:
a = 1,2,3,4,5,6

In [12]:
type(a)

tuple

In [13]:
a[2:5]

(3, 4, 5)

In [14]:
for e in a:
    print(e)

1
2
3
4
5
6

In [15]:
a = 'a', 10, 20

In [16]:
x, y, z = a

In [17]:
x

'a'

In [18]:
z

20

In [19]:
a = 1,2,3,4,5

In [20]:
x, *other, y, z = a

In [21]:
x

1

In [22]:
y

4

In [23]:
z

5

In [24]:
other

[2, 3]

In [26]:
x, *_, y, z = a

In [27]:
x, y, z

(1, 4, 5)

In [28]:
_

[2, 3]

In [29]:
a

(1, 2, 3, 4, 5)

In [30]:
a[0]

1

In [31]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [36]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

In [37]:
pt = Point2D(10, 20)

In [38]:
pt

Point2D(x=10, y=20)

In [39]:
id(pt)

140198878405056

In [40]:
pt.x = 100

In [41]:
id(pt)

140198878405056

In [42]:
a = Point2D(0, 0), Point2D(10, 20)

In [43]:
a

(Point2D(x=0, y=0), Point2D(x=10, y=20))

In [44]:
id(a[0])

140198878407360

In [45]:
a[0].x = 100

In [46]:
a

(Point2D(x=100, y=0), Point2D(x=10, y=20))

In [47]:
s = 'python'

In [48]:
id(s)

140198336675888

In [49]:
s = 'python' + ' rocks!'

In [50]:
s

'python rocks!'

In [51]:
id(s)

140198878385328

In [52]:
a = 1, 2, 3

In [53]:
id(a)

140198878463872

In [54]:
a += (4, 5)

In [55]:
a

(1, 2, 3, 4, 5)

In [56]:
id(a)

140196995261760

In [57]:
a = a + (4, 5)

In [58]:
pt1 = (0, 0)
pt2 = (10, 20)

In [61]:
london = 'London', 'UK', 8_780_000
new_york = 'New York', 'USA', 8_500_000
beijing = 'Beijing', 'Chine', 21_000_000

In [62]:
london

('London', 'UK', 8780000)

In [63]:
cities = [london, new_york, beijing]

In [64]:
total = 0
for city in cities:
    total += city[2]
print(total)

38280000

In [65]:
total = sum(city[2] for city in cities)

In [66]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [67]:
symbol, year, month, day, open_, high, low, close = record

In [68]:
symbol

'DJIA'

In [69]:
close

26072

In [70]:
symbol, *_, close = record

In [71]:
symbol, close

('DJIA', 26072)

In [72]:
print(_)

[2018, 1, 19, 25987, 26072, 25942]

In [74]:
for city, country, population in cities:
    print(city, country, population)

London UK 8780000
New York USA 8500000
Beijing Chine 21000000

In [76]:
for index, city in enumerate(cities):
    print(index, city)

0 ('London', 'UK', 8780000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'Chine', 21000000)

In [82]:
from random import uniform
from math import sqrt

def random_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)

    if sqrt(random_x ** 2 + random_y ** 2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False

    return random_x, random_y, is_in_circle

In [84]:
num_attempts = 1_000_000
count_inside = 0

for i in range(num_attempts):
    *_, is_in_circle = random_shot(1)
    if is_in_circle:
        count_inside += 1

print(f'Pi is approximately: {4 * count_inside / num_attempts}')

Pi is approximately: 3.141956