# Unpacking Iterables

In [1]:
a = (1,2,3)

In [2]:
type(a)

tuple

In [3]:
a = 1,2,3

In [4]:
type(a)

tuple

In [5]:
a

(1, 2, 3)

In [6]:
a = (1)

In [7]:
type(a)

int

In [8]:
a = ('a')

In [9]:
type(a)

str

In [10]:
a

'a'

In [11]:
a = (1,)

In [12]:
a

(1,)

In [13]:
type(a)

tuple

In [14]:
a = 100,

In [15]:
type(a)

tuple

In [16]:
a

(100,)

In [17]:
a = ()

In [18]:
type(a)

tuple

In [19]:
a = ,

SyntaxError: invalid syntax (199967109.py, line 1)

In [20]:
a = (,)

SyntaxError: invalid syntax (344912633.py, line 1)

In [21]:
a, b, c = [1, 'a', 3.14]

In [22]:
a

1

In [23]:
b

'a'

In [24]:
c

3.14

In [25]:
(a, b, c) = [1, 2, 3]

In [26]:
a

1

In [27]:
b

2

In [28]:
c

3

In [29]:
(a, b) = (1, 2)

In [30]:
a

1

In [31]:
b

2

In [32]:
a, b = 10, 20

In [33]:
a

10

In [34]:
b

20

In [35]:
a, b, c = 10, 20, 30

In [36]:
a

10

In [37]:
b

20

In [38]:
c

30

In [39]:
a, b, c = 10, {1, 2}, ['a', 'b']

In [40]:
a

10

In [41]:
b

{1, 2}

In [42]:
c

['a', 'b']

In [43]:
a, b = 10, 20

In [44]:
print(a, b)

10 20

In [45]:
a, b = b, a

In [46]:
print(a, b)

20 10

In [47]:
for e in 'XYZ':
    print(e)

X
Y
Z

In [48]:
a, b, c = 'XYZ'

In [49]:
a

'X'

In [50]:
b

'Y'

In [51]:
c

'Z'

In [52]:
s = 'XYZ'

In [53]:
s[0]

'X'

In [54]:
s[1]

'Y'

In [55]:
s = {1, 2, 3}

In [56]:
s[0]

TypeError: 'set' object is not subscriptable

In [62]:
s = {'p', 'y', 't', 'h', 'o', 'n'}

In [63]:
print(s)

{'t', 'n', 'p', 'o', 'y', 'h'}

In [64]:
for e in s:
    print(e)

t
n
p
o
y
h

In [65]:
a, b, c, d, e, f = s

In [66]:
a

't'

In [67]:
b

'n'

In [68]:
d = {'a': 1, 'b': 2, 'c': 3}

In [69]:
for e in d:
    print(e)

a
b
c

In [70]:
a, b, c = d

In [71]:
a

'a'

In [72]:
b

'b'

In [73]:
c

'c'

In [74]:
d

{'a': 1, 'b': 2, 'c': 3}

In [75]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [76]:
a, b, c, d = d

In [77]:
a

'a'

In [78]:
b

'b'

In [79]:
c

'c'

In [80]:
d

'd'

In [81]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [82]:
d, a, b, c = d

In [83]:
a

'b'

In [84]:
a

'b'

In [85]:
b

'c'

In [86]:
c

'd'

In [87]:
d

'a'

In [88]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [89]:
for e in d:
    print(e)

a
b
c
d

In [90]:
for e in d.values():
    print(e)

1
2
3
4

In [91]:
a, b, c, d = d.values()

In [92]:
a

1

In [93]:
b

2

In [94]:
c

3

In [95]:
d

4

In [97]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [99]:
for a, b in dict1.items():
    print('key={0}, value={1}'.format(a, b))

key=a, value=1
key=b, value=2
key=c, value=3
key=d, value=4